In [7]:
import pandas as pd

df = pd.read_csv('DataSets/titanic.csv')


unnecessarycols = ['Ticket','Name','PassengerId']
df.drop(unnecessarycols,inplace=True,axis=1)
df.dtypes

Survived      int64
Pclass        int64
Sex          object
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Cabin        object
Embarked     object
dtype: object

In [ ]:
df.isna().sum()

# Percentahe of missing values
round((df.isna().sum() / df.shape[0])*100,2)

df.drop(['Cabin'],inplace=True,axis=1)

In [14]:
df['Age'].mean()

29.69911764705882

In [15]:
df['Age'].median()

28.0

In [16]:
df['Age'].mode()

0    24.0
Name: Age, dtype: float64

In [17]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [23]:
df.groupby(['Pclass']).Age.agg("mean")

Pclass
1    38.233441
2    29.877630
3    25.140620
Name: Age, dtype: float64